.recovery-email {
    display: inline-flex;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 2000;
    height: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #333333;
    color: #ffffff;

    a {
        color: #ffffff;
    }
}

#content {
    height: calc(100% - env(safe-area-inset-bottom) - 100px - var(--body-container-margin)) !important;
}