.nav-icon-drop-account {
	background-image: url('../img/delete.svg?v=1');
}
.nav-icon-drop-account:hover,
.nav-icon-drop-account:focus {
	background-image: url('../img/delete-hover.svg?v=1');
}

.warnings {
	color: #ce3702;
}

.icon.icon-loading-small, p.deleting-data-msg {
	display: none;
}
