.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-top: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	width: fit-content;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-fail {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

#issue-submit-form #title,
#issue-submit-form textarea {
	width: 450px;
}

#issue-submit-form textarea {
	height: 100px;
}

#issue-submit-form textarea:hover {
	border-color: var(--color-primary-element) !important;
}

.mt-20 {
	margin-top: 20px !important;
}

#beta-form .btn-optout {
	background-color: white;
	color: var(--color-delete);
	border-color: var(--color-delete);
}

#beta-form .width300,
#issue-submit-form .width300 {
	width: 300px;
}

.color-red {
	color: red;
}

ul.beta-apps {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
}

ul.beta-apps > li:before {
	display: inline-block;
	content: '-';
	width: 1em;
	margin-left: -1em;
}

