.business-banner {
    display: inline-flex;
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #333333;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 6%;
    #business-banner-container{
        display:inline-flex;
        img {
            padding-right:10px;
            align-self: start;
            height: 25px;
            width: auto;
        }
        p{
            margin: 0 auto;
        }
        span {
            position: absolute;
            right: 20px;
            cursor: pointer;
        }
    }    

    a {
        color: #ffffff;
        padding-left: 24px;
        text-decoration: underline;
        font-size: 16px;
        font-weight: 600;
    }
   
}

@media only screen and (max-width: 768px) {
    .business-banner {
        display: block;
        a{
            padding: 8px 0 0 30px;
        }
    }
}
[data-object-type="business-banner-important"] a.external {
    background-color: var(--color-primary-element);
    color: var(--color-primary-element-text);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 12px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
}
