/** mobile font sizes **/
@media screen and (max-width: 650px) {
	#footer {
		font-size: 0.8em;
	}

	#fields .field .control input {
		padding-left: 2%;
		padding-right: 2%;
	}

	#main {
		margin-top: 8%;
	}
}

@media screen and (max-width: 768px) {
	button {
		font-size: 1.0em;
	}

	#successMessages {
		margin-left: 5%;
		margin-right: 5%;
	}

	#success h1 {
		font-size: 1.5em;
	}

	.lang-dropdown-div {
		padding-right: 4%;
	}

	#inviteHeader,
	#registerHeading {
		font-size: 1.5em;
	}

	#fields {
		font-size: 0;
		background-color: white;
	}

	#fields .field {
		font-size: 1.0em;
	}

	#fields .field .control input {
		font-size: 1.0em;
		line-height: 1.0em;
	}

	#fields p {
		font-size: 1.0em;
	}

	input {
		font-size: 1.0em;
		line-height: 1.0em;
	}

	#footer {
		display: flex;
		flex-direction: column;
		position: unset !important;
	}

	#main {
		max-width: 100%;
		padding: 10%;
	}
}

#body-login,
#body-login a,
#body-login p {
	background-color: #ffffff;
	color: #808080;
	font-family: "Montserrat";
}

.isa_info,
.isa_success,
.isa_warning,
.isa_error {
	margin: 10px 0px;
	padding: 12px;
	font-family: "Montserrat";
}

.isa_info {
	color: #00529b;
	background-color: #bde5f8;
}

.isa_success {
	color: rgba(0, 0, 0, 0.6);
	background-color: white;
}

.isa_warning {
	color: #9f6000;
	background-color: #feefb3;
}

.isa_error {
	color: white;
	background-color: #FF363F;
	font-size: 14px;
}

.e_logo_div {
	text-align: center;
	position: absolute;
	left: 5%;
	top: 5%;
	max-width: 40%;
}

.hint {
	margin: 0.2em auto 0.3em;
}

.isa_info i,
.isa_success i,
.isa_warning i,
.isa_error i {
	margin: 10px 22px;
	font-size: 1.5em;
	vertical-align: middle;
}

section {
	width: 100%;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.button:disabled {
	background-color: grey;
	/* Grey */
}

/* input:hover,
  input:focus {
	outline: 0;
	transition: all 0.5s linear;
	box-shadow: inset 0px 0px 10px #ccc;
  } */
input[type="checkbox"] {
	box-shadow: none;
	width: 1.5rem;
	margin-right: 0.5rem;
}

#password-strength-meter {
	height: 15px;
}

meter {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	margin: 0 auto 0.1em;
	width: 100%;
	height: 0.5em;

	/* Applicable only to Firefox */
	background: none;
	background-color: rgba(54, 47, 47, 0.1);
}

meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(54, 47, 47, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value {
	background: #f6bb97;
}

meter[value="2"]::-webkit-meter-optimum-value {
	background: #ffddca;
}

meter[value="3"]::-webkit-meter-optimum-value {
	background: #ffddca;
}

meter[value="4"]::-webkit-meter-optimum-value {
	background: #a0e6bb;
}

meter[value="1"]::-moz-meter-bar {
	background: #f6bb97;
}

meter[value="2"]::-moz-meter-bar {
	background: #ffddca;
}

meter[value="3"]::-moz-meter-bar {
	background: #ffddca;
}

meter[value="4"]::-moz-meter-bar {
	background: #a0e6bb;
}

.feedback {
	color: #fff;
	font-size: 90%;
	padding: 0 0.25em;
	font-family: Arial, cursive;
	margin-top: 1em;
}

#footer {
	background-color: #ffffff;
	font-size: 14px;
	width: 100%;
	height: 100px;
}

#langButton {
	border: none;
	padding: 0;
	background-color: #ffffff;
}

#icon-down {
	color: blue;
	padding-top: 10%;
}

.button-primary {
	background-color: #007fff;
	color: white;
	width: 100%;
	padding: 22px 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

.button-primary:hover {
	color: white;
}

.button-primary:disabled {
	background-color: #007fff;
	color: white;
	border-radius: 290486px;
	padding-left: calc(1em + 0.25em);
	padding-right: calc(1em + 0.25em);
}

.button-primary .button-text {
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 700;
}

#buttonField {
	clear: left;
}

#buttonField .control {
	width: 100%;
}

button {
	font-size: 20px;
}

#fields {
	font-size: 0;
	background-color: white;
}

#fields .field {
	font-size: 1.3em;
}

#fields p {
	font-size: 15px;
}

input {
	color: rgba(0, 0, 0, 0.8);
	background-color: white;
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 1.3em;
	transition: all 0.5s linear;
	border: 1px solid #E6E8E9;
	border-radius: 8px;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#captcha_img {
	font-size: 12px;
	width: 100%;
}

.lang-dropdown-div {
	float: right;
	margin-top: 2%;
	margin-right: 2%;
}

#lang-dropdown-menu {
	right: auto;
}

#inviteHeader,
#registerHeading {
	margin-bottom: 10%;
	font-size: 24px;
	text-align: left !important;
	font-weight: 500;
}

.lang-dropdown-item {
	text-align: center;
	display: flex;
	justify-content: center;
	padding-right: 1rem !important;
}

.dropdown-content {
	max-width: max-content;
}

#currentLangImg,
.lang-image {
	border-radius: 50%;
	margin: 0 auto;
	border: 0.1em transparent black;
	height: 24px;
	width: 24px;
	max-width: none;
}

#submitButton:hover {
	opacity: 0.9;
}

.wrong-icon,
.correct-icon,
.notification-text {
	vertical-align: middle;
}

.correct-icon,
.wrong-icon {
	padding-left: 3%;
	padding-right: 5%;
}

#main {
	width: 100%;
}

.container {
	height: 100vh;
	max-width: unset !important;
}

#fields label {
	color: #333333;
	font-size: 16px;
	font-weight: 900;
}

#inviteRequestForm .image {
	float: left;
	width: auto;
}

.captcha_img_div {
	height: 50px;
}

.pad-left-5 {
	padding-top: 3%;
	padding-left: 5%;
}

.domain-username {
	display: flex;
}

#repassword {
	width: 48%;
	margin-left: 4%;
}

#password {
	width: 48%;
}

#username {
	width: 70%;
}

.email-invite-page .fa-check {
	display: none;
}

#success {
	margin-top: -20%;
	max-width: 100%;
}

.success__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	margin: 1em 0 0.5em 0;
	text-align: center;
}

.notification a:not(.button):not(.dropdown-item) {
	color: #0086FF;
	text-decoration: none;
}

sup {
	color: #ff0000;
	font-weight: 500;
	font-size: 14px;
	padding-left: 3px;
}

#tos_div label {
	line-height: 1.5rem;
}

@media screen and (max-width: 500px) {
	#main {
		padding: 0 1.5rem;
	}

	.lang-dropdown-div {
		margin-top: 10%;
	}

	.e_logo_div,
	.lang-dropdown-div {
		position: unset;
		max-width: 100%;
		padding: 2%;
		float: none;
		margin-top: unset;
		text-align: center;
	}

	#inviteHeader,
	#registerHeading {
		font-size: 18px;
	}

	footer p {
		font-size: 10px;
	}
}

.welcome-header {
	height: 100px;
	padding-top: 5px;
}

.welcome-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}